:host {
  display: block;
  margin-top: 1rem;
}
.para {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.open-close-container {
  border: 10px solid #9c9c9c;
  margin-top: 1em;
  padding: 10px 10px 0px 10px;
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
button {
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 24px;
  border-radius: 25%;
  margin: 100px 0px 150px 0px;
}
button:hover {
  background-color: #87848a;
}
.button1 {
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 24px;
  border-radius: 25%;
  margin: auto;
}
.button2 {
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 24px;
  border-radius: 25%;
  margin: auto;
}
.button3 {
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 24px;
  border-radius: 25%;
  margin: auto;
}
