:host {
  display: block;
  margin-top: 1rem;
}

.open-close-container {
  border: 1px solid #e96c6c;
  margin-top: 1em;
  padding: 10px 10px 0px 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}
